/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #202020;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-brand:hover {
  color: #aaa;
}

.form-control {
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
}

.card-body {
  margin-top: 20px;
}

.textarea {
  max-width: 750px;
  height: 120px;
  max-height: 200px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-info:hover {
  background-color: #138496;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #343a40;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-dark {
  color: inherit;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #dee2e6;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-bordered td,
.table-dark.table-bordered th {
  border: 1px solid #dee2e6;
}

.table-dark.table-bordered thead td,
.table-dark.table-bordered thead th {
  border-bottom-width: 2px;
}

.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.gap-2 {
  gap: 2px;
}
