<%- include("includes/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form
          action="/update/<%= excursion.id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <textarea
              name="descripcion"
              placeholder="Descripción"
              class="form-control mb-2 textarea"
              autofocus
            >
<%= excursion.descripcion %></textarea
            >
          </div>
          <div class="form-group">
            <input
              type="date"
              name="fecha"
              value="<%= excursion.fecha %>"
              placeholder="Fecha"
              class="form-control mb-2"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="precio"
              value="<%= excursion.precio %>"
              placeholder="Precio"
              class="form-control mb-2"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="estado"
              value="<%= excursion.estado %>"
              placeholder="Estado"
              class="form-control mb-2"
            />
          </div>
          <div class="form-group">
            <textarea
              name="lugar"
              placeholder="Lugar"
              class="form-control mb-2 textarea"
            >
<%= excursion.lugar %></textarea
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              name="capacidad"
              value="<%= excursion.capacidad %>"
              placeholder="Capacidad"
              class="form-control mb-2"
            />
          </div>
          <div class="form-group">
            <input
              type="hidden"
              name="imagen"
              value="<%= excursion.imagen %>"
              placeholder="Imagen"
              class="form-control mb-2"
            />
          </div>

          <div class="form-group">
            <input type="file" name="image" accept="image/*" />
          </div>

          <button type="submit" class="btn btn-info">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("includes/_footer") %>
